@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;500&family=MedievalSharp&display=swap');

.logout{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 22px;
    cursor:pointer;
}